[submodule "lib/N64ModernRuntime"]
	path = lib/N64ModernRuntime
	url = https://gitlab.com/sonicdcer/N64ModernRuntime.git
[submodule "lib/RecompFrontend"]
	path = lib/RecompFrontend
	url = https://gitlab.com/sonicdcer/RecompFrontend.git
[submodule "lib/rt64"]
	path = lib/rt64
	url = https://github.com/rt64/rt64.git
[submodule "ExtremeGRecompSyms"]
	path = ExtremeGRecompSyms
	url = https://gitlab.com/sonicdcer/ExtremeGRecompSyms.git
[submodule "lib/ultralib"]
	path = lib/ultralib
	url = https://github.com/decompals/ultralib.git
