[Desktop Entry]
Name=BlastCorpsRecompiled
Type=Application
Terminal=false
Icon=BlastCorpsRecompiled
Exec=BlastCorpsRecompiled
GenericName=BlastCorpsRecompiled
Categories=Game;

