[Desktop Entry]
Name=ExtremeGRecompiled
Type=Application
Terminal=false
Icon=ExtremeGRecompiled
Exec=ExtremeGRecompiled
GenericName=ExtremeGRecompiled
Categories=Game;

